version: '3.8'

services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: timetracker
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  backend:
    build: ./backend
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/timetracker
      - SPRING_DATASOURCE_USERNAME=user
      - SPRING_DATASOURCE_PASSWORD=pass
      - JWT_SECRET=LI4NFfx3VZ2+63In5oNTXxChrqVYW0lb7cyWcwdmdXRcHSAN/nY0G0N79g0VBSlx

  frontend:
    build: ./frontend
    restart: always
    ports:
      - "80:80"   # frontend at http://localhost/
    depends_on:
      - backend

volumes:
  db-data:
